# 如果有内部包没有用@longfor开头，则需要把registry改成内网源
registry=https://registry.npmmirror.com/
@longfor:registry=https://artifactory.longhu.net/api/npm/dt-npm-public/

sass_binary_site=https://npmmirror.com/mirrors/node-sass

# yarn/npm install xxx，默认会在package.json中锁定大版号，如：vue^2.6.14。如果要锁定精确版本，打开下面的配置
# save-exact=true

# npm install默认会生成package-lock.json文件，不想生成则打开下面的注释
# package-lock=false

# yarn install默认会生成yarn.lock文件，不想生成则打开下面的注释
# lockfile=false
